geo-data/
node_modules/
.env
*.log
dist/
build/
*.tmp
.DS_Store
*.bak
*.swp
.idea/
.vscode/
__pycache__/
*.pyc
*.pyo
*.sqlite3
*.db
*.tar.gz
*.zip
*.egg-info/
*.coverage
*.sass-cache/
*.cache/
*.lock
npm-debug.log*
yarn-debug.log*
yarn-error.log*